---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/meta/crypto-exchanges?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1,"type":"exchange","market":"crypto","name":"GDAX","url":"https://www.gdax.com/"},{"id":2,"type":"exchange","market":"crypto","name":"BITFINEX","url":"https://www.bitfinex.com/"},{"id":3,"type":"exchange","market":"crypto","name":"BitMEX","url":"https://www.bitmex.com/"},{"id":4,"type":"exchange","market":"crypto","name":"Binance","url":"https://www.binance.com/"},{"id":5,"type":"exchange","market":"crypto","name":"Binance","url":"https://gemini.com/"},{"id":6,"type":"exchange","market":"crypto","name":"Bitstamp","url":"https://www.bitstamp.net/"},{"i[...]
