---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/historic/crypto/BTC/USD/2019-04-28?apiKey=<API_KEY>&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"day":"2019-04-28","map":{"c":"conditions","p":"price","s":"size","t":"timestamp","x":"exchange"},"msLatency":13,"status":"success","symbol":"BTC-USD","ticks":[{"s":0.06058,"p":5294.22,"x":10,"t":1556409600902,"c":[1]},{"s":0.037,"p":5294.22,"x":10,"t":1556409601185,"c":[1]},{"s":0.00531,"p":5294.23,"x":10,"t":1556409601425,"c":[1]},{"s":0.00982,"p":5294.24,"x":10,"t":1556409601898,"c":[1]},{"s":0.0059,"p":5292.81,"x":11,"t":1556409601950,"c":[1]},{"s":2.96,"p":5401.8,"x":2,"t":1556409602217,"c":[2]},{"s":0.002104,"p":5295.69,"x":4,"t":1556409602324,"c":[4]},{"s":0.5,"p":5401.8,"x":2,"t":1556409602584,"c":[2]},{"s":0.00884712,"p":5171.9,"x":1,"t":1556[...]
