---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/snapshot/locale/global/markets/crypto/gainers?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","tickers":[{"day":{"c":0.0328362,"h":0.0477353,"l":0.0105,"o":0.018,"v":3716014,"vw":0},"lastTrade":{"c":[2],"i":"832370017","p":0.032554,"s":6,"t":1588092464771,"x":10},"min":{"c":0.0328362,"h":0.0328362,"l":0.032554,"o":0.032554,"v":295,"vw":0},"prevDay":{"c":0.0194678,"h":0.0212994,"l":0.0165,"o":0.0203842,"v":273120,"vw":0.0184},"ticker":"X:SNCUSD","todaysChange":0.013086,"todaysChangePerc":67.219717,"updated":1588132808999},{"day":{"c":0.015035,"h":0.0999994,"l":0.0101,"o":0.015035,"v":1978924,"vw":0},"lastTrade":{"c":[2],"i":"831984610","p":0.015035,"s":771,"t":1588050589254,"x":10},"min":{"c":0.0170076,"h":0.0170077,"l":0.0170076,"o":0.0170077,"v":588,"vw":0},"prevDay":{"c":0.0101,"h":0.0202246,"l":0.0101,"o":0.0202246,"v":471810,"vw":0.0168},"ticker":"X:DADIUSD","todaysChange":0.004935,"todaysChangePerc":48.861386,"updated":1588132808999},{"day":{"c":0.00018938,"h":0.00027287,"l":0.0001025,"o":0.0[...]
