---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/snapshot/locale/global/markets/crypto/tickers?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","tickers":[{"day":{"c":0.00295018,"h":0.00300176,"l":0.00284666,"o":0.00286905,"v":14575060,"vw":0},"lastTrade":{"c":[1],"i":"832346915","p":0.00295095,"s":180,"t":1588089970504,"x":10},"min":{"c":0.00295018,"h":0.00295467,"l":0.00294527,"o":0.00294527,"v":4900,"vw":0},"prevDay":{"c":0.00287,"h":0.00309141,"l":0.00284666,"o":0.00294549,"v":5242070,"vw":0.0029},"ticker":"X:XVGUSD","todaysChange":0.000081,"todaysChangePerc":2.820557,"updated":1588132808999},{"day":{"c":0.0084,"h":0.0087,"l":0.0083,"o":0.0084,"v":43339575.84000001,"vw":0},"lastTrade":{"c":[2],"i":"1346532","p":0.0084,"s":2190,"t":1588089974457,"x":17},"min":{"c":0.0084,"h":0.0084,"l":0.0084,"o":0.0084,"v":35510,"vw":0},"prevDay":{"c":0.0084,"h":0.0087,"l":0.0081,"o":0.0083,"v":63743562.50999999,"vw":0.0083},"ticker":"X:CMTUSD","todaysChange":0,"todaysChangePerc":0,"updated":1588132808999},{"day":{"c":0.251154,"h":0.3,"l":0.212051,"o":0.256213,"v":822366.300000076,"vw"[...]
