---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last/crypto/BTC/USD?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","symbol":"BTC-USD","last":{"price":7722.67,"size":0.001999,"exchange":4,"conditions":[1,0,0,0],"timestamp":1588087976176},"lastAverage":{"avg":7724.952,"tradesAveraged":10}}'
  recorded_at: Tue, 28 Apr 2020 15:32:56 GMT
recorded_with: VCR 5.1.0
