---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/snapshot/locale/global/markets/crypto/tickers/X:BTCUSD/book?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"ticker":"X:BTCUSD","bids":[{"p":7737.04,"x":{"1":4.31514943}},{"p":7736.94,"x":{"1":0.86308637}},{"p":7735.34,"x":{"1":5.2}},{"p":7735.32,"x":{"1":2.30767835}},{"p":7734.62,"x":{"1":0.3}},{"p":7734.53,"x":{"1":0.01}},{"p":7734.32,"x":{"1":0.25}},{"p":7734.26,"x":{"6":4}},{"p":7734.17,"x":{"1":2.58}},{"p":7733.55,"x":{"1":5.2}},{"p":7733.54,"x":{"1":5.2}},{"p":7732.73,"x":{"1":6,"6":0.89843}},{"p":7732.71,"x":{"6":0.0035}},{"p":7732.2,"x":{"1":0.07}},{"p":7732.19,"x":{"1":2.1}},{"p":7732.14,"x":{"6":4}},{"p":7732.1,"x":{"[...]
