---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/conversion/AUD/USD?amount=0.252e3&apiKey=<API_KEY>&precision=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","last":{"bid":1.5386983,"ask":1.5396459,"exchange":48,"timestamp":1588104846000},"from":"AUD","to":"USD","initialAmount":252,"converted":163.77}'
  recorded_at: Tue, 28 Apr 2020 20:14:08 GMT
recorded_with: VCR 5.1.0
