---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last_quote/currencies/AUD/USD?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","symbol":"AUD/USD","last":{"bid":0.6494,"ask":0.6498,"exchange":48,"timestamp":1588105717000}}'
  recorded_at: Tue, 28 Apr 2020 20:28:40 GMT
recorded_with: VCR 5.1.0
