---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/historic/forex/AUD/USD/2019-04-28?apiKey=<API_KEY>&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"day":"2019-04-28","map":{"a":"ask","b":"bid","t":"timestamp"},"msLatency":5,"pair":"AUD/USD","status":"success","ticks":[{"b":0.70354,"a":0.70421,"x":48,"t":1556478062000},{"b":0.70331,"a":0.70454,"x":48,"t":1556478242000},{"b":0.70331,"a":0.70429,"x":48,"t":1556478272000},{"b":0.70328,"a":0.70408,"x":48,"t":1556478332000},{"b":0.70355,"a":0.70415,"x":48,"t":1556478422000},{"b":0.70371,"a":0.70416,"x":48,"t":1556478452000},{"b":0.7038,"a":0.70415,"x":48,"t":1556478512000},{"b":0.70378,"a":0.70438,"x":48,"t":1556478542000},{"b":0.70397,"a":0.70437,"x":48,"t":1556478662000},{"b":0.70406,"a":0.70436,"x":48,"t":15564[...]
