---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/snapshot/locale/global/markets/forex/tickers?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","tickers":[{"day":{"c":0.06369427,"h":0.06369427,"l":0.06365372,"o":0.06365372,"v":3},"lastQuote":{"a":0.06578947,"b":0.06369427,"i":0,"t":1588102611000,"x":48},"min":{"c":0.06369427,"h":0.06369427,"l":0.06365372,"o":0.06365372,"v":2},"prevDay":{"c":0.06369427,"h":0.06369427,"l":0.06365372,"o":0.06365372,"v":3,"vw":0},"ticker":"C:MVRUSD","todaysChange":0,"todaysChangePerc":0,"updated":1588132808999},{"day":{"c":80.3145,"h":80.9911,"l":79.169,"o":80.6343,"v":44586},"lastQuote":{"a":80.3314,"b":80.3224,"i":0,"t":1588105763000,"x":48},"min":{"c":80.3145,"h":80.336,"l":80.3126,"o":80.326,"v":6},"prevDay":{"c":80.6482,"h":81.0474,"l":80.301,"o":80.332,"v":45047,"vw":0},"ticker":"C:EURRUB","todaysChange":-0.3258,"todaysChangePerc":-0.40397678,"updated":1588105763000},{"day":{"c":0.06327,"h":0.06352055,"l":0.06231915,"o":0.06255,"v":15075},"lastQuote":{"a":0.06329,"b":0.06327,"i":0,[...]
