---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/snapshot/locale/global/markets/forex/gainers?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","tickers":[{"day":{"c":20.873045,"h":21.020859,"l":19.081747,"o":19.140082,"v":115502},"lastQuote":{"a":20.883811,"b":20.873135,"i":0,"t":1588106107000,"x":48},"min":{"c":20.860893,"h":20.873448,"l":20.860782,"o":20.862011,"v":61},"prevDay":{"c":19.131164,"h":19.140082,"l":19.131164,"o":19.140082,"v":4,"vw":0},"ticker":"C:ZARNGN","todaysChange":1.741971,"todaysChangePerc":9.10541042,"updated":1588106107000},{"day":{"c":484.0706,"h":488.22129,"l":447.17502,"o":447.54994,"v":995},"lastQuote":{"a":484.1485,"b":484.0706,"i":0,"t":1588106075000,"x":48},"min":{"c":484.0706,"h":484.0706,"l":484.0706,"o":484.0706,"v":1},"prevDay":{"c":447.54994,"h":485.4512,"l":446.99837,"o":447.03803,"v":1402,"vw":0},"ticker":"C:GBPNGN","todaysChange":36.52066,"todaysChangePerc":8.16013069,"updated":1588132808999},{"day":{"c":389,"h":389.5,"l":360.01,"o":389.5,"v":6},"lastQuote":{"a":390,"b":389,"i":0,"t":1[...]
