---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/locales?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","results":[{"locale":"G","name":"Global"},{"locale":"US","name":"United
        States of America"},{"locale":"GB","name":"Great Britain"},{"locale":"CA","name":"Canada"},{"locale":"NL","name":"Netherlands"},{"locale":"GR","name":"Greece"},{"locale":"SP","name":"Spain"},{"locale":"DE","name":"Germany"},{"locale":"BE","name":"Belgium"},{"locale":"DK","name":"Denmark"},{"locale":"FI","name":"Finland"},{"locale":"IE","name":"Ireland"},{"locale":"PT","name":"Portugal"},{"locale":"IN","name":"India"},{"locale":"MX","name":"Mexico"},{"locale":"FR","name":"France"},{"locale":"CN","name":"China"},{"locale":"CH","name":"Switzerland"},{"locale":"SE","name":"Sweden"}]}'
  recorded_at: Tue, 28 Apr 2020 07:35:35 GMT
recorded_with: VCR 5.1.0
