---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/markets?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","results":[{"market":"STOCKS","desc":"Stocks / Equities
        / ETFs"},{"market":"INDICES","desc":"Indices"},{"market":"MF","desc":"Mutual
        Funds"},{"market":"MMF","desc":"Money Market Funds"},{"market":"CRYPTO","desc":"Crypto"},{"market":"FX","desc":"Forex
        / Currencies"},{"market":"BONDS","desc":"Bonds"}]}'
  recorded_at: Tue, 28 Apr 2020 07:22:06 GMT
recorded_with: VCR 5.1.0
