---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/marketstatus/now?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"market":"closed","serverTime":"2020-04-28T03:23:51-04:00","exchanges":{"nyse":"closed","nasdaq":"closed","otc":"closed"},"currencies":{"fx":"open","crypto":"open"}}'
  recorded_at: Tue, 28 Apr 2020 07:23:51 GMT
recorded_with: VCR 5.1.0
