---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/splits/AAPL?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      api-version:
      - 1.0.1
      content-md5:
      - GXyaFvdM8Q/w6eVp8CrMFg==
      response-time:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","count":3,"results":[{"ticker":"AAPL","exDate":"2014-06-09","paymentDate":"2014-06-09","ratio":0.14285714285714285},{"ticker":"AAPL","exDate":"2005-02-28","paymentDate":"2005-02-28","ratio":0.5},{"ticker":"AAPL","exDate":"2000-06-21","paymentDate":"2000-06-21","ratio":0.5}]}'
  recorded_at: Fri, 01 May 2020 00:19:16 GMT
recorded_with: VCR 5.1.0
