---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/financials/AAPL?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      api-version:
      - 1.0.1
      content-md5:
      - KE27/+KGBDBgDrASscvq2Q==
      response-time:
      - '1359'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","results":[{"ticker":"AAPL","period":"YA","calendarDate":"2019-12-31","reportPeriod":"2019-09-28","updated":"2020-01-29","dateKey":"2019-09-28","accumulatedOtherComprehensiveIncome":-584000000,"assets":338516000000,"assetsAverage":344118000000,"assetsCurrent":162819000000,"assetsNonCurrent":175697000000,"assetTurnover":0.756,"bookValuePerShare":19.595,"capitalExpenditure":-10495000000,"cashAndEquivalents":48844000000,"cashAndEquivalentsUSD":48844000000,"costOfRevenue":161782000000,"consolidatedIncome":55256000000,"currentRatio":1.54,"debtToEquityRatio":2.741,"debt":108047000000,"debtCurrent":16240000000,"debtNonCurrent":91807000000,"debtUSD":108047000000,"deferredRevenue":5522000000,"depreciationAmortizationAndAccretion":12547000000,"deposits":0,"dividendYield":0.014,"dividendsPerBasicCommonShare":3,"earningBeforeInterestTaxes":65737000000,"earningsBeforeInterestTaxesDepreciationAmortization":78284000000,"EBITDAMargin":0.301,"earningsBeforeInterestTaxesDepreciationAmortizationUSD":78284000000,"earningBeforeInterestTaxesUSD":65737000000,"earningsBeforeTax":65737000000,"earningsPerBasicShare":11.97,"earningsPerDilutedShare":11.89,"earningsPerBasicShareUSD":11.97,"shareholdersEquity":90488000000,"averageEquity":102674000000,"shareholdersEquityUSD":90488000000,"enterpriseValue":1046774967600,"enterpriseValueOverEBIT":16,"enterpriseValueOverEBITDA":13.372,"freeCashFlow":58896000000,"freeCashFlowPerShare":12.754,"foreignCurrencyUSDExchangeRate":1,"grossProfit":98392000000,"grossMargin":0.378,"goodwillAndIntangibleAssets":0,"interestExpense":0,"investedCapital":292001000000,"investedCapitalAverage":310171750000,"inventory":4106000000,"investments":157054000000,"investmentsCurrent":51713000000,"investmentsNonCurrent":105341000000,"totalLiabilities":248028000000,"currentLiabilities":105718000000,"liabilitiesNonCurrent":142310000000,"marketCapitalization":988886967600,"netCashFlow":24311000000,"netCashFlowBusinessAcquisitionsDisposals":-624000000,"issuanceEquityShares":-66116000000,"issuanceDebtSecurities":-7819000000,"paymentDividendsOtherCashDistributions":-14119000000,"netCashFlowFromFinancing":-90976000000,"netCashFlowFromInvesting":45896000000,"netCashFlowInvestmentAcquisitionsDisposals":58093000000,"netCashFlowFromOperations":69391000000,"effectOfExchangeRateChangesOnCash":0,"netIncome":55256000000,"netIncomeCommonStock":55256000000,"netIncomeCommonStockUSD":55256000000,"netLossIncomeFromDiscontinuedOperations":0,"netIncomeToNonControllingInterests":0,"profitMargin":0.212,"operatingExpenses":34462000000,"operatingIncome":63930000000,"tradeAndNonTradePayables":46236000000,"payoutRatio":0.251,"priceToBookValue":10.928,"priceEarnings":17.896,"priceToEarningsRatio":18.281,"propertyPlantEquipmentNet":37378000000,"preferredDividendsIncomeStatementImpact":0,"sharePriceAdjustedClose":218.82,"priceSales":3.801,"priceToSalesRatio":3.884,"tradeAndNonTradeReceivables":45804000000,"accumulatedRetainedEarningsDeficit":45898000000,"revenues":260174000000,"revenuesUSD":260174000000,"researchAndDevelopmentExpense":16217000000,"returnOnAverageAssets":0.161,"returnOnAverageEquity":0.538,"returnOnInvestedCapital":0.212,"returnOnSales":0.253,"shareBasedCompensation":6068000000,"sellingGeneralAndAdministrativeExpense":18245000000,"shareFactor":1,"shares":4519180000,"weightedAverageShares":4617834000,"weightedAverageSharesDiluted":4648913000,"salesPerShare":56.341,"tangibleAssetValue":338516000000,"taxAssets":0,"incomeTaxExpense":10481000000,"taxLiabilities":0,"tangibleAssetsBookValuePerShare":73.306,"workingCapital":57101000000},{"ticker":"AAPL","period":"Q","calendarDate":"2019-12-31","reportPeriod":"2019-12-28","updated":"2020-01-29","dateKey":"2020-01-29","accumulatedOtherComprehensiveIncome":-418000000,"assets":340618000000,"assetsCurrent":163231000000,"assetsNonCurrent":177387000000,"bookValuePerShare":20.279,"capitalExpenditure":-2107000000,"cashAndEquivalents":39771000000,"cashAndEquivalentsUSD":39771000000,"costOfRevenue":56602000000,"consolidatedIncome":22236000000,"currentRatio":1.598,"debtToEquit[...]
