---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/grouped/locale/US/market/STOCKS/2019-02-01?apiKey=<API_KEY>&unadjusted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","queryCount":8374,"resultsCount":8374,"adjusted":true,"results":[{"T":"PEB","v":739867,"vw":31.4784,"o":32.06,"c":31.63,"h":32.24,"l":31.19,"t":1549054800000,"n":6996},{"T":"ORG","v":1213,"vw":26.3144,"o":26.28,"c":26.335,"h":26.335,"l":26.28,"t":1549054800000,"n":21},{"T":"ORRF","v":4659,"vw":18.7705,"o":19.0836,"c":18.67,"h":19.11,"l":18.6,"t":1549054800000,"n":198},{"T":"ORGS","v":40270,"vw":4.3699,"o":4.4785,"c":4.46,"h":4.4785,"l":4.2601,"t":1549054800000,"n":119},{"T":"ORIT","v":263121,"vw":17.0024,"o":16.9,"c":16.99,"h":17.09,"l":16.855,"t":1549054800000,"n":2492},{"T":"IQDE","v[...]
