---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/snapshot/locale/us/markets/stocks/gainers?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","tickers":[{"day":{"c":18.83,"h":21.99,"l":18.8,"o":20.67,"v":162161,"vw":19.6462},"lastQuote":{"P":19.1,"S":5,"p":18.85,"s":8,"t":1588365067371729927},"lastTrade":{"c":[38,41,60],"i":"52983575951190","p":18.83,"s":0,"t":1588363800010177342,"x":10},"min":{"c":18.82,"h":18.82,"l":18.82,"o":18.82,"v":106,"vw":18.82},"prevDay":{"c":2.12,"h":2.39,"l":2.05,"o":2.3,"v":5141472,"vw":2.2279},"ticker":"NTG","todaysChange":16.71,"todaysChangePerc":788.208,"updated":1588363800010177342},{"day":{"c":11.2564,"h":12.025,"l":10.7201,"o":12.025,"v":13734,"vw":11.3915},"lastQuote":{"P":0,"S":0,"p":3,"s":1,"t":1588363230021321584},"lastTrade":{"c":[38,41,60],"i":"52983561080651","p":11.2564,"s":0,"t":1588363800010144855,"x":10},"min":{"c":11.2564,"h":11.2564,"l":11.2564,"o":11.2564,"v":272,"vw":11.2564},"prevDay":{"c":1.6,"h":1.67,"l":1.54,"o":1.65,"v":96333,"vw":1.6088},"ticker":"NDP","todaysChange":9.656,"todaysChangePerc":603.525,"updated":1588363800010144855},[...]
