---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AAPL/range/1/day/2019-01-01/2019-02-01?apiKey=<API_KEY>&unadjusted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"AAPL","status":"OK","queryCount":22,"resultsCount":21,"adjusted":true,"results":[{"v":3.7039737e+07,"vw":155.5485,"o":154.89,"c":157.92,"h":158.85,"l":154.23,"t":1546405200000,"n":1},{"v":9.1312195e+07,"vw":143.5801,"o":143.98,"c":142.19,"h":145.72,"l":142,"t":1546491600000,"n":1},{"v":5.857107e+07,"vw":146.8194,"o":144.53,"c":148.26,"h":148.5499,"l":143.8,"t":1546578000000,"n":1},{"v":5.4777764e+07,"vw":147.369,"o":148.7,"c":147.93,"h":148.83,"l":145.9,"t":1546837200000,"n":1},{"v":4.1025314e+07,"vw":150.1529,"o":149.56,"c":150.75,"h":151.82,"l":148.52,"t":1546923600000,"n":1},{"v":4.5099081e+07,"[...]
