---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/open-close/AAPL/2018-03-02?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","from":"2018-03-02T03:30:00Z","symbol":"AAPL","open":174.37,"high":175.25,"low":172.2,"close":174.62,"afterHours":175.059,"volume":28738984}'
  recorded_at: Fri, 01 May 2020 22:06:11 GMT
recorded_with: VCR 5.1.0
