---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last_quote/stocks/AAPL?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"last":{"askexchange":11,"askprice":290.25,"asksize":1,"bidexchange":8,"bidprice":290.15,"bidsize":6,"timestamp":1588370461745},"status":"success","symbol":"AAPL"}

        '
  recorded_at: Fri, 01 May 2020 22:01:08 GMT
recorded_with: VCR 5.1.0
