---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last/stocks/AAPL?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"last":{"cond1":12,"cond2":37,"cond3":41,"exchange":8,"price":290.37,"size":3,"timestamp":1588370252584},"status":"success","symbol":"AAPL"}

        '
  recorded_at: Fri, 01 May 2020 21:57:33 GMT
recorded_with: VCR 5.1.0
