---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AAPL/prev?apiKey=<API_KEY>&unadjusted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ticker":"AAPL","status":"OK","queryCount":1,"resultsCount":1,"adjusted":true,"results":[{"T":"AAPL","v":4.5755041e+07,"vw":291.6754,"o":289.96,"c":293.8,"h":294.53,"l":288.35,"t":1588276800000}]}'
  recorded_at: Fri, 01 May 2020 22:38:33 GMT
recorded_with: VCR 5.1.0
