---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/meta/symbols/AAPL/company?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"logo":"https://s3.polygon.io/logos/aapl/logo.png","listdate":"1990-01-02","cik":"320193","bloomberg":"EQ0010169500001000","figi":null,"lei":"HWUPKR0MPOU8FGXBT394","sic":3571,"country":"usa","industry":"Computer
        Hardware","sector":"Technology","marketcap":908316631180,"employees":123000,"phone":"+1
        408 996-1010","ceo":"Timothy D. Cook","url":"http://www.apple.com","description":"Apple
        Inc is designs, manufactures and markets mobile communication and media devices
        and personal computers, and sells a variety of related software, services,
        accessories, networking solutions and third-party digital content and applications.","exchange":"Nasdaq
        Global Select","name":"Apple Inc.","symbol":"AAPL","exchangeSymbol":"NGS","hq_address":"1
        Infinite Loop Cupertino CA, 95014","hq_state":"CA","hq_country":"USA","type":"CS","updated":"11/16/2018","tags":["Technology","Consumer
        Electronics","Computer Hardware"],"similar":["MSFT","NOK","IBM","HPQ","GOOGL","BB","XLK"],"active":true}'
  recorded_at: Tue, 28 Apr 2020 21:04:59 GMT
recorded_with: VCR 5.1.0
