---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/tickers?apiKey=<API_KEY>&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"page":2,"perPage":50,"count":122669,"status":"OK","tickers":[{"ticker":"AAMC","name":"Altisource
        Asset Mgmt Corp","market":"STOCKS","locale":"US","currency":"USD","active":true,"primaryExch":"AMX","updated":"2020-06-23","codes":{"cik":"0001555074","figiuid":"EQ0000000027544942","scfigi":"BBG003PNL145","cfigi":"BBG003PNL136","figi":"BBG003Q1GJL0"},"url":"https://api.polygon.io/v2/tickers/AAMC"},{"ticker":"AAME","name":"Atlantic
        American Corporation Common Stock","market":"STOCKS","locale":"US","currency":"USD","active":true,"primaryExch":"NASDAQ","updated":"2020-06-23","codes":{"cik":"0000008177","figiuid":"EQ0010179600001000","scfigi":"BBG001S5N8T1","cfigi":"BBG000B9XB24","figi":"BBG000B9XMQ4"},"url":"https://api.polygon.io/v2/tickers/AAME"},{"ticker":"AAMMF","name":"Almadex
        Minerals Ltd Ordinary Shares (Canada)","market":"STOC[...]
