---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/tickers?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"perPage":50,"count":81972,"status":"OK","tickers":[{"ticker":"A","name":"Agilent
        Technologies Inc.","market":"STOCKS","locale":"US","type":"CS","currency":"USD","active":true,"primaryExch":"NYE","updated":"2020-04-28","codes":{"cik":"0001090872","figiuid":"EQ0087231700001000","scfigi":"BBG001SCTQY4","cfigi":"BBG000C2V3D6","figi":"BBG000C2V3D6"},"url":"https://api.polygon.io/v2/tickers/A"},{"ticker":"AA","name":"Alcoa
        Corp","market":"STOCKS","locale":"US","type":"CS","currency":"USD","active":true,"primaryExch":"NYE","updated":"2020-04-28","codes":{"cik":"0001675149","figiuid":"EQ0000000045469815","scfigi":"BBG00B3T3HF1","cfigi":"BBG00B3T3HD3","figi":"BBG00B3T3HD3"},"url":"https://api.polygon.io/v2/tickers/AA"},{"ticker":"AAAG","name":"AAA
        Century Group USA Inc","market":"STOCKS","locale":"US","currency":"USD","active":true,"p[...]
